@import "swiper/css/bundle";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
}

.collapse-arrow .collapse-title:after {
  @apply animate-pulse;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #0f172a !important;
}

.fp-tooltip {
  color: black !important;
}

.fp-watermark {
  display: none;
}

.btn-ghost:hover,
.btn-ghost.btn-active {
  background-color: rgba(255, 255, 255, 0.1);
}
.tooltip:before {
  color: white;
}

.table-zebra tbody tr:nth-child(even) th,
.table-zebra tbody tr:nth-child(even) td {
  background-color: rgb(245, 245, 245);
}
.table-zebra tbody tr:nth-child(even) th,
.table-zebra tbody tr:nth-child(even) td {
  background-color: rgb(245, 245, 245);
}
